{% extends "base.html" %}
{% load static %}

{% block titulo  %} Home {% endblock  %}

{% block conteudo %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <img align="right" src="{% static 'conhecimento.png' %}" width="400"/>
      <h3 class="display-1">Conhecimento Sem Limites</h3> 
      <p align="justify" class="lead">Desde 1988 essa é a mentalidade que rege a missão do</p> 
      <p align="justify" class="lead">Grupo Impacta Tecnologia no treinamento de profissionais</p> 
      <p align="justify" class="lead">especializados e preparados para assumir posições de liderança</p>
      <p align="justify" class="lead">nos mercados de TI, Gestão e Design.</p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <img align="left" src="{% static 'certificacao.png' %}" width="400"/>
        <h3 align="right" class="display-1">Mais de 300 Treinamentos e 40 Certificações</h3>
        <p align="right"  class="lead">O portfólio de cursos especializados em tecnologia e</p>
        <p align="right"  class="lead">mercado digital mais completo da América Latina, fundamentado</p>
        <p align="right"  class="lead">na expertise de um grupo educacional pioneiro e</p>
        <p align="right"  class="lead">instrutores altamente qualificados.</p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <img align="right" src="{% static 'metodologia.png' %}" width="400"/>
        <h3 class="display-1">Metodologia de Ensino Modelo</h3>
        <p  align="justify" class="lead">A Editora Impacta, que produz todo material didático dos cursos,</p>
        <p  align="justify" class="lead">desenvolvido e atualizado constantemente em parceria com</p>
        <p  align="justify" class="lead">profissionais atuantes no mercado, é responsável por uma metodologia</p>
        <p  align="justify" class="lead">de ensino considerada como referência pela ABTD e entidades de Recursos Humanos.</p>
    </div>
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="container">
        <img align="left" src="{% static 'certificado2.png' %}" width="550"/>
        <h3 align="right" class="display-1">Certificação Reconhecida no Mercado</h3>
        <br/>
        <p  align="right" class="lead">Além de certificações de peso internacional,</p>
        <p  align="right" class="lead">o Grupo Impacta possui no ICS - Impacta Certified Specialist</p>
        <p  align="right" class="lead">um dos títulos mais respeitados do mercado, preparado sob</p>
        <p  align="right" class="lead">medida para oferecer e atestar habilidades de profissionais especializados.</p>
    </div>
</div>
    
{% endblock conteudo %}

